#searchbar-container {
	display: flex;
}

.see-through {
	background-image: url("Pics/oilbg.png");
	background-attachment: fixed;
	background-position: top left;
	background-size: cover;
}

label {
	margin: 40px 0 20px 20px;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
	background-clip: none;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#searchandlabel-wrapper {
	flex-direction: column;
	flex: 68%;
	display: flex;
	align-items: left;
}

#buttonsContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 32%;
	gap: 1rem	;
}

#search {
	font-size: 1.5rem;
	margin-left: 20px;
	border: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	color: white;
}

.accessibility-buttons {
	cursor: pointer;
	padding: 5px;
	border-radius: 50%;
	color: var(---blur);

}

.accessibility-buttons:hover {
	color: rgba(255, 255, 255, 0.7);
}

#rows-icon,
#light-dark-mode {
	font-size: 2rem;
}


@media (max-width: 730px) {
	#rows-icon {
		display: none;
	}
}

@media (min-width: 870px) {
	#search {
		margin: 0 50% 0 20px;
	}
}

.imageHide,
.hide {
	display: none !important;
}

.all-quotes {
	display: grid;
	gap: 1.5rem;
	margin: 100px 20px 0;
}

.gridLayout {
	grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
}

.quote-container {
	padding: 10px 20px;
	background-color: var(---originalQuoteBack);
	color: whitesmoke;
	flex-direction: column;
	text-align: center;
	justify-content: center;
}

.center {
	display: flex;
}

.quote-container:hover {
	color: white;
	background-color: var(---hoverQuoteBack);
	transition: all 0.2s ease-in-out;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.golden {
	border: 2px var(---originalQuoteBack) solid;
}

.alwaysGolden,
.golden:hover {
	color: rgb(231, 196, 106);
	background-color: var(---hoverQuoteBack);
	border: 2px goldenrod solid;
}

.alwaysGolden {
	background-color: var(---originalQuoteBack);
}

#search-section {
	background-color: var(---blur);
	padding-bottom: 20px;
}

.quote {
	font-size: 25px;
}

.person {
	font-size: 20px;
	margin-top: 10px;
}

#emptyContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	margin-top: 50px;
}

#emptyContainer>h1 {
	margin-bottom: 1rem;
}

#emptyContainer>p {
	margin: 0;
}

#emptyImage {
	margin-left: 105px;
}

@media (max-width: 870px) {
	#emptyImage {
		width: 213px;
		height: 274px;
		margin-left: 80px;
	}

	#emptyContainer {
		font-size: 1rem;
	}
}