.imageHide,
.hide {
	display: none !important;
}

.all-quotes {
	display: grid;
	gap: 1.5rem;
	margin: 100px 20px 0;
}

.gridLayout {
	grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
}

.quote-container {
	padding: 10px 20px;
	background-color: var(---originalQuoteBack);
	color: whitesmoke;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	transition: background-color 0.15s ease-in-out;
}

.center {
	display: flex;
}

.quote-container:hover {
	color: white;
	background-color: var(---hoverQuoteBack);
	transition: all 0.2s ease-in-out;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.golden {
	border: 2px var(---originalQuoteBack) solid;
}

.alwaysGolden,
.golden:hover {
	color: rgb(231, 196, 106);
	background-color: var(---hoverQuoteBack);
	border: 2px goldenrod solid;
}

.alwaysGolden {
	background-color: var(---originalQuoteBack);
}

.quote {
	font-size: 25px;
}

.person {
	font-size: 20px;
	margin-top: 10px;
}

#emptyContainer {
	align-items: center;
	display: flex;
	flex-direction: column;
	font-size: 1.1rem;
	margin-top: 50px;
}

#emptyContainer > h1 {
	margin-bottom: 1rem;
}

#emptyContainer > p {
	margin: 0;
}

#emptyImage {
	margin-left: 105px;
}

@media (max-width: 870px) {
	#emptyImage {
		width: 213px;
		height: 274px;
		margin-left: 80px;
	}

	#emptyContainer {
		font-size: 1rem;
	}
}
