:root{
    ---col: white;
    
}
#join-header{
    margin-top: 100px;
    margin-bottom: 40px;
    display: inline-block;
    background-image:  linear-gradient(143deg,#eb3349  , #d87b83);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 55px;
}
#timeline-container{
    margin-top: 20px;
    position: relative;
    min-height: 100vh;


    
}


.line1{
    position: relative;
    z-index: -2;
    left: 50%;
    height: 120px;
    
}
.line2{
    top: 30px;
    right: 121px;
    height: 300px;
    transform: rotate(60deg);
}
.line9{
    top: 150px;
    right: 332px;
    height: 200px;
    transform: rotate(90deg);
}
.line7{
    top: 227px;
    right: 292px;
    height: 220px;
    transform: rotate(30deg);
}
.line8{
    top: 348px;
    right: 218px;
    height: 317px;
    transform: rotate(-56.5deg);
}

.line3{
    z-index: 5;
    top: 82px;
    right: 17px;
    height: 500px;
    transform: rotate(-70deg);
}

.line4{
    top: 316px;
    left: 57px;
    height: 370px;
    transform: rotate(60deg);
}
.line5{
    top: 491px;
    left: 57px;
    height: 370px;
    transform: rotate(-60deg);
}
.line6{
    top: 534px;
    right: 190px;
    height: 270px;
    transform: rotate(50deg);
}
/* Line 1 before */
.line{
    position: absolute;
    width: 3px;
    z-index: 3;
}
.col{
    background: linear-gradient(143deg,#eb3349  , #d87b83);
    height: 100%;
    width: 100%;
}
.line::before,
.line::after,
#back3::after
{
    background:linear-gradient(143deg,#eb3349  , #d87b83);
    content: '';
    border: 2px #f55865 solid;
    width: 16px;
    height: 16px;
    background-size: cover;
    z-index: 2;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}  
#back3::after{
    left: 100%;
    top: 290px; 
}
.line::after{
    bottom: 0px;
    
}
.line4::before,
.line4::after,
.line7::after,
.line3::after{
    content: '';
    background-color:  #f1404f;
    border: 2px #f55865 solid;
    z-index: 2;
}
#back3{
    position: absolute;
    z-index: 1;
    background-image: url('https://lh3.googleusercontent.com/PVpUz5WapYXcB_HO8IydBiciUEyQdfEWEcd9J7q9_jm6sod4LIQ7Ze3VEFWksK9C9TlmSn_kLF2Pd87Ipt4X4RgS4UEplXcZhRJ5SdeUL67e7SUV5yL4l8rlNbydnoFzi7ypbPCMJjLSDWThCVghC1dwNRi0OS_-MIwwUAVsrcPSWvGJRSri-fpaxRBQn1DU-ydqZB630fCsHXDlo2AHEHM98D-V0u6SY96FbTvxvQhT1GZHKbqYnhMR-5i2bM42tK3nwiyDIqkxYQjnsUi0b4fI9WWpksarrUmFDjgosiPSUzIpGCVVfbGmLe8bSJr17dQT5VVvH25bFWKLMRZd9mHhMAGktCur71u5BzX8KDxeImjQuqtfgX7xpl-W4aL52GFrAdwW8qq7DFr45PErZbvh2q5eCT3fxkq11S9OJzX_u34x9ggR3myxuOjUHnXHnDsOyu4s1R2Ev-YOi8mgbqlbAZthg4yrFpwgBrqGPmBL90y1s9LpHi5qwyzkpNmHjt6GaqLSlZ-cMYK2uKAikuA9ymvcP54Dqh3l434eyDa8B_Pa4vO1R0b8HHmpCC1CTX9Z5ahe5R8nfP3tybsroraRcctBhobybW1jR_M6bQ70X6WUS0n-v3nosjjH_kUT8Od5MFyEa974zDoxP0lT1pvLsb9pm0a7mxdlov2xvbJJwtrYLXzx50peyb9qRipsJtM8xUg2IAG_36RoHzdZAZNmJDqK1tiZUsDi1Ubp8OY3LU0gGiA6OfR_tY-vv7dDroxoklxem2mwp2YP-26H52soUVbGoqME8RY=w1366-h647-no?authuser=1');
    border-bottom: solid 3px #f55865;
    height: 300px;
    width: 750px;
    top: 112px;
    left: 65px;
    background-size: cover;
    background-position: center;
    opacity: 0;
    
    /* animation: slide 2s ease-out forwards;*/
     
}
#back3::before{
    content: '';
    top: 0;
    left: 0;
    background-color: rgb(5, 4, 4);
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-out ;
}

#back3:hover::before{
    opacity: 0.2;
}

.white{
    background:  white;
    position: absolute;
    top: 179px;
    right: 600px;
    height: 500px;
    width:200px;
    z-index: 2;
    transform: rotate(-70deg);
}
.whitestr{
    background: white;
    position: absolute;
    z-index: 2;
    top: 250px;
    left: 20px;
    height: 170px;
    width:395px;
} 
.whiter{
    background: white;
    position: absolute;
    z-index: 2;
    height: 300px;
    width: 130px;
    top: -25px;
    left: 440px;
    transform: rotate(60deg);
}
.aswe{
    position: absolute;
    font-size: 55px;
    font-family: Ubuntu;
    z-index: 3; 
    color: #f1404f;
    opacity: 1;
  
}

#as{
    left: 36%;
    top: 56%;
}
#we{
    margin-top: -10px;
    left: 80px;
    top: 60%;
}
@keyframes slide {
    0%{
        transform: translateX(-400px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}