#join-header{
    margin-top: 100px;
    display: inline-block;
}
#timeline-container{
    margin-top: 20px;
    display: flex;
    align-content: center;
    justify-content: center;
    border: 1px solid black;
    min-height: 100vh;
    position: relative;
}
.timeline{
   border: 1px solid black;
}
.line{
    position: absolute;
    z-index: -2;
    background-color: var(---timeline);
    width: 2px;
    left: 50%;
    top: 0px;
    height: 120px;
    
   
}

.line::before,
.bead{
    content: '';
    width: 1rem;
    height: 1rem;
    background-color: white;
    border: var(---bead) 2px solid;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
} 

/* .line::after{
    bottom: 0;
} */

.bead1{
    position: absolute;
    top: 100%;
}
.bead1::before{
    z-index: 0;
    content: '';
    display: block;
    position: absolute;
    width: 2px;
    height: 220px;
    top: 0%;
    right: 44px;
    background-color: var(---timeline);
    transform: rotate(20deg);
}
.bead2{
    bottom: 0px;
}