#join-container{
    position: relative;
}
#join-header{
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: 55px;
}
.pinkgradient-text{
    display: inline-block;
    background-image: linear-gradient(143deg, #eb3349, #d87b83);
    background-clip: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#timeline-container{
    margin-top: 20px;
    position: relative;
    min-height: 100vh;
}

/* lines */
.line1{
    position: relative;
    z-index: -2;
    left: 50%;
    height: 120px;
}
.line2{
    top: 30px;
    right: 121px;
    height: 300px;
    transform: rotate(60deg);
}
.line9{
    top: 150px;
    right: 332px;
    height: 200px;
    transform: rotate(90deg);
}
.line7{
    top: 227px;
    right: 292px;
    height: 220px;
    transform: rotate(30deg);
}
.line8{
    top: 348px;
    right: 218px;
    height: 317px;
    transform: rotate(-56.5deg);
}

.line3{
    z-index: 5;
    top: 82px;
    right: 17px;
    height: 500px;
    transform: rotate(-70deg);
}

.line4{
    top: 316px;
    left: 57px;
    height: 370px;
    transform: rotate(60deg);
}
.line5{
    top: 491px;
    left: 57px;
    height: 370px;
    transform: rotate(-60deg);
}
.line6{
    top: 534px;
    right: 190px;
    height: 270px;
    transform: rotate(50deg);
}
.line10{
    top: 745px;
    left: 160px;
    height: 300px;
    transform: rotate(20deg);
}
.line11{
    top: 738px;
    right: 265px;
    height: 257.5px;
    transform: rotate(-10deg);
}
.line12{
    top: 866px;
    right: 103px;
    height: 312.5px;
    transform: rotate(-75deg);

}
.line13{
    top: 992.5px;
    left: 76px;
    height: 102px;
    transform: rotate(66deg);
}
.line{
    position: absolute;
    width: 3px;
    z-index: 10;
}

/* The line part */
.col{
    background: linear-gradient(143deg,#eb3349  , #d87b83);
    height: 100%;
    width: 100%;
}
/* The circle node part */
.line::before,
.line::after,
#inosuke::after,
#grad::after,
#boys::after
{
    background:linear-gradient(143deg,#eb3349  , #d87b83);
    content: '';
    border: 2px #f55865 solid;
    width: 16px;
    height: 16px;
    background-size: cover;
    z-index: 2;
    border-radius: 50%;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}  
#inosuke::after{
    left: 100%;
    top: 290px; 
}
#grad::after{
    left: 0%;
    right: 100%;
    top: 160px;
}
#boys::after{
    left: 0%;
    right: 100%;
    top: 315px;
}
.line::after{
    bottom: 0px;
    
}
/* .line12::after,
.line12::before{
    content: '';
    background-color:  #0e0e0e;
    border: 2px #000000 solid;
    z-index: 2;
} */
/* Images */
.join-images{
    position: absolute;
    border: solid 3px #f55865;
    background-size: cover;
}
#inosuke{
    background-image: url('Pics/inosuke.jpg');
    height: 300px;
    width: 750px;
    top: 341px;
    opacity: 0;
    background-position: center;  
    z-index: 2;
    
}
#grad { 
    background-image: url('Pics/grad.jpg');
    width: 420px;
    height:170px;
    background-position: left bottom;
    top: 480px;
    left: 18px;
    z-index: 1;
}
#boys{
    background-image: url("Pics/boys.jpg");
    background-position: center;
    top: 652.5px;
    left: 18px;
    width: 555px;
    height: 322.5px;
    z-index: 0;
}

/* Fade when hove on image*/
#inosuke::before,
#grad::before,
#boys::before{ 
    content: '';
    top: 0;
    left: 0;
    background-color: rgb(5, 4, 4);
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0;
    transition: 0.3s ease-out ;
}
#inosuke:hover::before,
#grad:hover::before,
#boys:hover::before {
    opacity: 0.2;
}
/* Crops */
.crop1::after{
    content: '';
    background-image: linear-gradient(to top left, transparent 50%, white 0);
    position: absolute;
    width: 248px;
    height: 140px;
    top: -3px;
    left: -3px;
    
}
.crop1::before{
    content: '';
    background-image: linear-gradient(to bottom left, transparent 50%, white 0);
    position: absolute;
    width: 462px;
    height: 170px;
    bottom: -3px;
    left: -3px;
}

.crop2::before{
    content: '';
    background-image: linear-gradient(to bottom right, transparent 50%, white 0);
    position: absolute;
    width: 112px;
    height: 193px;
    bottom: -3px;
    right: -3px;
}
.crop3::after{
    content: '';
    background-image: linear-gradient(to bottom right, transparent 50%, white 0);
    position: absolute;
    width: 193px;
    height: 160px;
    bottom: -3px;
    right: -3px;
}
.crop3::before{
    content: '';
    background-image: linear-gradient(to top right, transparent 50%, white 0);
    position: absolute;
    width: 250px;
    height: 165px;
    top: -3px;
    right: -3px;
}

.aswe{
    position: absolute;
    font-size: 58px;
    font-family: Pushster;
    z-index: 3; 
    background-image: linear-gradient(143deg,  #d87b83,#eb3349);
    opacity: 1;

}
#as{
    left: 36%;
    top: 56%;
}
#we{
    margin-top: -10px;
    left: 80px;
    top: 60%;
}
#adv{
    position: absolute;
    left: 38%;
    top: 120%;
    font-size: 65px;
}