#header-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#header-container a {
    color: #ff0000;
    margin-top: 20px;
}
#header-container a:hover {
    color: #d40000;
}
#quote-header{
    font-family: Pushster;
    font-size: 60px;
    margin-right: 40%;
}
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,'wght' 400,'GRAD' 0,'opsz' 48 ;
    margin-right: 30%;
}
#oilback{
    /* background-image: url("Pics/oilbg.png");
    background-attachment: fixed;
    background-position:top left;
    background-size: cover; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
} 
#card-holder{
    flex-basis: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5%;
}
#cards-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    background-color: rgba(255, 255, 255, 0.3);
} 
.card h1 {
    text-align: center;
    font-size: 25px;
}
.titlecard{
    width: 350px;
    margin-right: 40px;
}
.quotecard {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 200px;
}
/* Rest of card thing is in goal.css next to popbox things */
#cardtext{
    font-size: 27px;
}

#cardauthor {
    margin-top: 10px;
    font-size: 20px;
}

