@import url(fonts.css);
@import url(index-css/nav.css);
@import url(index-css/goal.css);
@import url(index-css/join.css);

:root {
    ---maroon: #5f0f23;
    ---hotmaroon: #6f102c;
    ---border: #e4adb8;
    ---timeline: #cabebe;
    ---bead: #e2d6d6;
    ---blur: rgba(255, 255, 255, 0.5);
    ---originalQuoteBack: rgb(231, 35, 58);
    ---hoverQuoteBack: rgb(226, 0, 26);
    ---opacHovRed: rgba(226, 0, 26, 0.6);
    ---COOLPEACH: rgb(236, 120, 120);
    ---redd: rgb(219, 13, 37);
}

body,
html {
    scroll-snap-type: y proximity;
    font-family: Helvetica;
}

a {
    text-decoration: none;
}

.heading-text {
    font-family: Pushster;
    font-size: 50px;
}

.snapper {
    scroll-snap-align: start;
}

.flex-parent {
    display: flex;
    justify-content: space-around;
    align-items: center;
}